body
{
    font-size: 20px;
    background-image: url('img/background_test.jpg');
    position: relative;
    margin: 0px auto;
    width: 1700px;
    height: 1024px;
    font-family: monospace;
    color: antiquewhite;
    background-repeat: no-repeat;
    overflow: auto;
}

.nav
{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    position: inherit;
}    

.things{
    width: 400px;
    height: 300px;
    position: inherit;
    margin-left: 50px;
    border:solid 2px dimgray;
}

#tr:hover
{
    transform: scale(1.1);
    background: lightblue;
}

#es:hover
{
    transform: scale(1.1);
    background: lightblue;
}


#fix:hover
{
    transform: scale(1.1);
    background: darkgreen;
}

#fox:hover
{
    transform: scale(1.1);
    background: darkgreen;
}

#roto:hover
{
    transform: scale(1.1);
    background: darkred;
}

#reproductor{
    left: 100px;
    top: 20px;
    visibility: hidden;
    position: absolute;
}

#bk{
    width: 75px;
    height: auto;
    position: absolute;
    top: 250px;
    left: 0px;
}